body{
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.container{
    padding: 15px;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888;
}

ul{
    padding-left: 0;
}

.list-item{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    
}
.list-button{
    cursor: pointer;
}
#button{
    cursor: pointer;
}